html, body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;

}

body {
	background-color: #BED0E0;
}

#navigation {
	width:100%;
	height: 50px;
	margin-bottom: 10px;
	background-color: #09253D;	/* <- navy blue | med blue -> #69B3DB*/
	display: flex;
  	align-content: center;	
}

#navigation ul li {
  /*margin-left: 5%;*/
  list-style: none;
  color: white;
  display: flex;
  align-content: center;
}

a {
	text-decoration: none;
	color: white;
}

#school-logo {
	height: 14em;
	width: 14em;
	border-radius: 50%;
	
	display: block;
	margin: 0 auto;
}

#container {
	justify-content: center;
	padding: 20px;
}

#profile-container {
	display:flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

#row-one, #row-two {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.profile {
	flex-direction: column;
	text-align: center;
	width:15em;
}

.circle {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	background-color: #C9B7AD;
}