html, body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: -16px;
  background: url('../images/background.jpg') 0 0 / cover no-repeat fixed;
}

#navigation {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #344251;
  display: block;
}

#navigation ul {
  box-sizing: border-box;
  height: 40px;
}

#navigation ul li {
  display: inline-block;
  margin-left: 6%;
  list-style: none;
  height: 40px;
}

#navigation ul li:hover {
  animation: pulse 1s infinite;
}

a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
}

a:hover {
  color: #9CBEBF;
}

#gitIcon {
  width: 30px;
  height: 30px;
  margin-left: 50%;
  margin-right: 5%;
  vertical-align: middle;
}

#gitIcon:hover {
  animation: flip 0.7s forwards;
}

#container {
  width: 100%;
  height: 100%;
}

#welcomeScreen {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 8%;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  margin: auto;
  padding: 15px;
  text-align: center;
  border-radius: inherit;
  background-color: rgba(85, 92, 99, 0.5);
}

#info h2 span {
  font-size: 16px;
  font-style: italic;
}

#startBtn {
  line-height: 40px;
  font-size: 17px;
  width: 43%;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  color: #CCCCCC;
  transition: 0.25s;
  background-color: rgba(0, 105, 132, 0.5);
  outline: 5px solid rgba(0, 82, 102, 0.9);
  outline-offset: -5px;
}

#startBtn:hover {
  font-size: 16px;
  line-height: 43px;
  background-color: rgba(0, 122, 153, 0.7);
  outline: 8px solid rgba(0, 82, 102, 0.9);
  outline-offset: -8px;
  color: white;
  transition: 0.25s;
}

#chat {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 50%;
  height: 85%;
  margin: auto;
  margin-top: 8%;
  transition: 1s;
  background-color: white;
}

#daizzy {
  font-size: 30px;
  line-height: 50px;
  overflow: hidden;
  width: 100%;
  height: 0;
  text-align: center;
  background-color: #007E9F;
  color: #344251;
}

#chatLog {
  box-sizing: border-box;
  width: 99.9%;
  height: 90%;
  padding: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

input[type = text], select {
  font-size: 16px;
  position: absolute;
  bottom: -8px;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 20px;
  margin: 8px 0;
  padding: 15px 20px;
  border: none; /* this must be before border-top */
  border-top: 2px solid #CCCCCC;
  outline: none;
}

#calendar {
  font-size: 16px;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  background-color: #007E9F;
  font-family: 'Josefin Sans', sans-serif;
  padding: 20px;
  z-index: 0;
  top: 85;
  bottom: 15;
  right: 0;
  left: 0;
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
  text-align: center;
}

#authorize-button, #signout-button {
  background-color: #06C5FB;
  border-color: #006480;   
  font-family: 'Josefin Sans', sans-serif;
  padding: 15px 20px;
  margin-bottom: 10px;
  width: 39%;
}

#calTitle {
  font-size: 24px;
  background-color: #06C5FB;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 20px;
  width: 80%;
}

.bot {
	position: relative;
	background: #344251;
	color: white;
	border-radius: .4em;
	padding: 15px;
	width: 60%;
	margin-right: auto;
	box-sizing: border-box;
	margin-bottom: 15px;
	overflow: auto;
	word-wrap: break-word;
	text-align: left;
}

.user {
	position: relative;
	background: #00aabb;
	border-radius: .4em;
	padding: 15px;
	width: 60%;
	margin-left: auto;
	box-sizing: border-box;
	margin-bottom: 15px;
	overflow: auto;
	word-wrap: break-word;
	text-align: left;
}

/*Simple Media Queries*/

@media only screen and (max-width: 1180px){
  #info {
    width: 65%;
  }
  #startBtn {
    width: 43%;
  }
}

@media only screen and (max-width: 930px) (min-width: 730px){
  #info {
    width: 80%;
  }
  #startBtn {
    width: 43%;
  }
}

@media only screen and (max-width: 730px){
  #info {
    width: 80%;
  }
  #startBtn {
    width: 73%;
  }
}

@media only screen and (max-width: 800px){
  #chat{
    width: 90%;
  }
}


/* ----------- Galaxy S5 ----------- */
    /* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
    #startBtn{
      width: 90%;
    }
    #calendar{
      width: 85%;
    }
}

/* ----------- iPhone 5 and 5S ----------- */
        /* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #startBtn{
      width: 98%;
    }
    #calendar{
      width: 95%;
    }
}

/* ----------- iPad 3 and 4 ----------- */
      /* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    #info, #startBtn, #calTitle, #input, .chatMessage, #calTitle, #authorize-button, #signout-button, a{
      font-size: 30px;
    }
    #startBtn{
      width: 80%;
      height: 10%;    
    }
    #input{
      height: 10%;
    }
    #navigation{
      height: 8%;
    }
    #calendar{
      width: 70%;
    }
}
